/* Import Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Noto+Sans:wght@100;200&family=Poppins:wght@200;300;700&display=swap');
/* Vars */

:root {
  --col1: #363636;
  --col2: #151515;
  --col3: #1758c0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  background: var(--col2);
  color: #fff;
  display: flex;
}

#aside-left {
  min-width: 200px;
  height: 100vh;
  border-right: 1px solid var(--col1);
  display: flex;
  flex-direction: column;
}

#hide-menu, #menu {
  display: none;
}

#aside-right {
  flex: 2;
}

#dv_profile {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Profile */
#img-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #fff;
  margin-top: 20px;
}

/* Title Username */
.title-name h2::first-letter {
  font-size: 26px;
  color: var(--col3);
}

.title-name span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.title-name h2 {
  font-family: 'Poppins', sans-serif;
}

/* Aside LEFT */
#menu-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#menu-container a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid var(--col1);
  min-width: 70%;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
  transition: .3s;
  font-family: 'Noto Sans', sans-serif;

}

#menu-container a:hover {
  color: var(--col3);
}

#menu-container a.active {
  color: var(--col3);
}

/* Menu */

#menu-container a>svg {
  width: 18px;
  height: 18px;
}


/* Contato */
#contact-linked a {
  color: var(--col3);
  text-decoration: none;
}

/* Divs Main */
#aside-right {
  padding-left: 40px;
  height: 100vh;
  overflow: auto;
}

.aside_right-frame {
  display: flex;
  align-items: center;
  height: 100vh;
  width: -webkiit-fill-available;
}

.aside_right-frame>div:first-child {
  width: -webkit-fill-available;
}

.aside_right-frame h2 {
  font-family: 'Poppins', sans-serif;
}

.aside_right-frame>div:first-child>p {
  font-family: 'Poppins', sans-serif;
  margin: 18px auto;
  text-indent: 20px;
  font-weight: 300;
  width: 70%;
  margin-left: 0;
}

#dv_home>div:nth-child(1) {
  padding-top: 100px;
  max-width: 50%;
}

#dv_home>div:nth-child(1)>p {
  width: auto;
}

#dv_home>div:nth-child(1)>button {
  background-color: var(--col3);
  color: #fff;
  border-radius: 40px;
  padding: 10px 20px;
  margin-top: 40px;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: .3s;
}

#dv_home>div:nth-child(1)>button:hover {
  opacity: .75;
}

#dv_home-img_profile {
  width: 300px;
  padding: 5px;
  transition: .3s;
  border: 5px solid var(--col3);
  border-radius: 50%;
}

#dv_home>div:nth-child(2) {
  position: relative;
  margin-left: 40px;
}

.link {
  display: none;
}


/* Projects */
#dv_port.aside_right-frame {
  flex-direction: column;
  height: 100vh;
}

.card {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #1758c0;
  display: block;
  min-height: 100px;
  padding: 10px;
  background: rgb(85 85 85 / 40%);
  font-family: 'Noto sans', sans-serif;
}

.card:hover {
  background: rgb(85 85 85 / 20%);

}

.card>h3 {
  font-weight: bold;
  font-size: 1.2rem;
}

.date {
  display: block;
  font-size: .8rem;
  margin-bottom: 10px;
}


@media (max-width: 600px) {
  /* Responsivo */

  #aside-left {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #151515;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: -100vw;
    transition: .5s;
  }

  #aside-left.show {
    left: 0;
    z-index: 9999;
  }

  #menu {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    background: none;
    color: #fff;
    font-weight: 200;
    font-family: 'Noto Sans', sans-serif;
    z-index: 9999;
  }

  #hide-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 1.7rem;
    border: none;
    background: none;
    color: #fff;
    font-weight: 200;
    font-family: 'Noto Sans', sans-serif;
  }

  #menu-container {
    flex: unset;
  }

  #menu-container a {
    font-size: 1.2rem;
  }

  #aside-right {
    padding: 0;
  }

  #dv_home {
    flex-direction: column-reverse;
    width: 100vw;
  }

  .aside_right-frame {
    align-items: center;
    justify-content: center;
  }

  div.aside_right-frame {
    position: relative;

  }

  div.aside_right-frame>div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aside_right-frame>div:first-child>p {
    margin: 10px auto;
  }

  #dv_home>div:nth-child(1) {
    max-width: 90%;
  }

  #dv_port.aside_right-frame {
    flex-direction: column;
    padding-top: 100px;
  }

  .link {
    display: block;
    position: absolute;
    bottom: 40px;
    background-color: var(--col3);
    color: #fff;
    border-radius: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: .3s;
  }

  #projects-container {
    flex: 2;
    width: 90vw;
    margin-bottom: 90px;
    overflow-y: auto;
  }


  .card {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #1758c0;
    display: block;
    min-height: 100px;
    padding: 10px;
    background: rgb(85 85 85 / 40%);
    font-family: 'Noto sans', sans-serif;
  }

  .card:hover {
    background: rgb(85 85 85 / 20%);

  }

  .card>h3 {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .date {
    display: block;
    font-size: .8rem;
    margin-bottom: 10px;
  }
}